In [9]:
import pandas as pd
# pd_file = '/mnt/nvme/vovik/clean_data/diarization_results/alex_data_12500-new-2.csv'
# pd_file = '/mnt/nvme/vovik/clean_data/test.csv'
# pd_file =  '/mnt/raid10/home/max/speech/my_proto_new/VAD_selection/lists_and_logs/selection/sel.csv'
pd_file =  '/mnt/nvme/vovik/dataSets/segments3.csv'
df = pd.read_csv(pd_file, sep=',', index_col='Unnamed: 0')
df.head(15)

    out0_part3       0    8000  0.1  208000
0   out0_part3    8000   16000    2  208000
1   out0_part3   16000   24000    2  208000
2   out0_part3   24000   32000    2  208000
3   out0_part3   32000   40000    0  208000
4   out0_part3   40000   48000    0  208000
5   out0_part3   48000   56000    0  208000
6   out0_part3   56000   64000    0  208000
7   out0_part3   64000   72000    0  208000
8   out0_part3   72000   80000    0  208000
9   out0_part3   80000   88000    0  208000
10  out0_part3   88000   96000    0  208000
11  out0_part3   96000  104000    0  208000
12  out0_part3  104000  112000    0  208000
13  out0_part3  112000  120000    0  208000
14  out0_part3  120000  128000    0  208000

In [17]:
# check missing value
count = 0
print(df.shape[0])
for i in range(499):
    mv = df.iloc[i][4]
    if not mv == 0:
        count += 1
print(count)

500
68

In [5]:
# get column name
for col_name in df.columns:
    print(col_name)

/mnt/raid10/home/alex/PhonesMixed/Phones2_1_cut_2-10/
spk0
spk1
spk2

In [1]:
# ------------------------------ CSV ---------------------------------
import pandas as pd

pd_file = 'test.csv'

# dataframe = pd.read_csv(url)     # sep - как разделены данные в файле. , by default
                                   # index_col = 'Data' - по какой колонке считать индекс

dataframe = pd.DataFrame({'country' : ['USA', 'Germany', 'Russia'],
                         'money' : [3000, 2000, 1000], 
                         'square' : [20000, 5000, 30000]}, index=['US', 'De', 'Ru'])
                                                # можно вместо целочисленных индексов задать свои сразу
# или потом
# dataframe.index = ['US', 'De', 'Ru']

# также можно задать и имя индекса
dataframe.index.name = 'code'

# сортировка по индексу
# dataframe = dataframe.sort_index()  # сортировка по индексу

# сбросить индексы к целочисленным
# dataframe = dataframe.reset_index()
dataframe

      country  money  square
code
US        USA   3000   20000
De    Germany   2000    5000
Ru     Russia   1000   30000

In [6]:
row = dataframe.iloc[0]
a, v, c = row
c

20000

In [5]:
# проход по строкам
for index, row in dataframe.iterrows():
    print(index, row[0])

US USA
De Germany
Ru Russia

In [40]:
# кол-во всех ячеек (строки*столбцы)
size = dataframe.size
# размер таблицы
m, n = dataframe.shape

print('size:', size)
print('N colomns:', n)
print('N rows:', m)

size: 9
N colomns: 3
N rows: 3

In [ ]:
# показать богатые страны
dataframe[dataframe.money > 2500].head()

In [ ]:
# DataFrame - это таблица, в которой обращение столбцы заданы именами,
# а строки любыми любыми другими типами

# вывести первые две строки из раздела country
print(dataframe['country'][:2])

# доступ по имени индекса
print(dataframe.loc['US'])
# или по номеру индекса
print(dataframe.iloc[1])

# мы можем в кач. индекса другой столбец
# значения в котором уникальны
# dataframe = dataframe.set_index(dataframe['country'])

# вывести определенную колонку
print(dataframe.loc[['US', 'Ru'], 'square'])

In [ ]:
# арифметика
print(dataframe.money.max())
print(dataframe.money.min())
print(dataframe.money.mean())
print(dataframe.money.sum())
print(dataframe.money.count())

In [ ]:
dataframe
# количество стран, в которых площадь больше 10000
dataframe[dataframe.square > 10000].shape[0]

In [ ]:
# замена значений
dataframe['country'].replace('USA', 'United States').head()

In [ ]:
# переименовать столбец
dataframe.rename(columns={'country': 'страна'}).head()

In [28]:
# добавить новую колонку
dataframe['people'] = ['25', '12', '54']
dataframe

      country  money  square people
code
US        USA   3000   20000     25
De    Germany   2000    5000     12
Ru     Russia   1000   30000     54

In [ ]:
# удалить колонку
dataframe = dataframe.drop(['people'], axis='columns')
dataframe

In [14]:
# добавить строчку
new_data = [{'country': 'Ukraine', 'money': 2223, 'square': 487}]
df2 = dataframe.append(new_data)
df2

    country  money  square
US      USA   3000   20000
De  Germany   2000    5000
Ru   Russia   1000   30000
0   Ukraine   2223     487

In [55]:
# совместить две таблицы
dataframe2 = pd.DataFrame({'country':'Ukraine', 'money':2223, 'square':487}, index=['UA'])
dataframe_res = pd.concat([dataframe, dataframe2])
dataframe_res = dataframe_res.reset_index()
dataframe_res

ValueError: If using all scalar values, you must pass an index

In [ ]:
# удалить строчку
new_df = dataframe.drop(['US'], axis='rows')
new_df

In [ ]:
# удалить бедные страны и маленькие страны
new_df = dataframe[(dataframe.money > 1000) & (dataframe.square > 3000)]
new_df

In [ ]:
# удалить дупликаты названия стран
dataframe.drop_duplicates(subset=['country'])

In [ ]:
# применить некоторую функцию для каждого элемента столбца
def to_float(x):
    return x*1.0

dataframe['money'].apply(to_float).head()

In [ ]:
# сгрупировать страны по столбцу и вычислить среднее
dataframe.groupby('money').mean()

In [3]:
# save to .csv
dataframe.to_csv('test.csv', sep=' ', index=False)
# индексы не будут отражены
# header = False - без заголовка

In [4]:
# open .csv
dataframe = pd.read_csv('test.csv', sep=' ')#, index_col='Unnamed: 0')
# если без заголовка, то header=None

               test
0  [(1, 2), (3, 4)]

In [ ]:
dataframe.describe()

In [ ]:
# ----------------------------------- Добавляем время -----------------------------------
import numpy as np

time_index = pd.date_range('06/06/2017', periods=10, freq='30S')
# начальная дата 2017-06-06 00:00:00
# число дат = 10
# шаг = 30 секунд

dataframe = pd.DataFrame(index=time_index)

# создать столбец случайных значений
dataframe['values'] = np.random.randint(1, 10, 10)

# сгруппировать строки по 1 минуте и посчитать сумму
dataframe.resample('60S').sum()
# сгруппировать по месяцу - 'W'
# сгруппировать по дню - 'D'